<div class="alert alert-success">
        <strong>logo</strong> 
      </div>

<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="" >Home</a></li>
            <li *ngIf="this.UsersServer.currentUser"><a routerLink="Managing" >Managing</a></li>
            <li><a routerLink="OpenNewGroup">OpenNewGroup</a></li>
            <li *ngIf="this.UsersServer.currentUser"><a routerLink="Renting">Renting</a></li>
            <li *ngIf="this.UsersServer.currentUser"><a routerLink="Ordering">Ordering</a></li>
            <li *ngIf="this.UsersServer.currentUser"><a routerLink="PrivateArea">PrivateArea</a></li>
          </ul>
        </div>
      </nav>

      <router-outlet></router-outlet>


