.myRow{
    width: 100%;
    align-self: center;
    height: 50%;
    padding: 14px 20px;
    cursor: pointer;
    color: black;
    border: 2px solid #e7d7e5;
}
.myRow:hover {background-color: #e7d7e5;}